.message-cntr {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 0.5rem;
  word-break: break-all;
}
.text {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  width: fit-content;
  background-color: var(--purple);
  color: white;
}
.sender {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
}
.sender-text {
  grid-column: 2;
}

.receiver-cntr {
  justify-self: flex-start;
}

.receiver {
  background-color: white;
  color: black;
}
