.message-cntr {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}
.text {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  width: fit-content;
  background-color: var(--purple);
  color: white;
}

.receiver-cntr {
  justify-self: flex-start;
}

.receiver {
  background-color: white;
  color: black;
}
