.input-container {
  display: flex;
  position: relative;
  margin: 1rem;
}
.input-container:focus {
}
#text-input {
  width: 100%;
  padding: 2rem;
  padding-right: 4rem;
  border-radius: 1rem;
  background-color: white;
}
#text-input:focus {
  outline: none;
  /* border-radius: 5px; */
  box-shadow: 0 0 5px rgba(112, 67, 161, 0.8); /* Purple glow */
  transition: box-shadow 0.3s ease-in-out;
}

.input-container,
#text-input {
  border: none;
}
.submit-txt {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: #4f46e5;
  color: white;
  padding: 0.75rem 0.75rem;
  border-radius: 50%;
  border: none;
  transition: background-color 0.2s ease;
  cursor: pointer;
}
.submit-txt:hover {
  background-color: #4338ca;
}
.submit-txt:disabled {
  cursor: not-allowed;
  background-color: #8080807a;
}

.text-input-error-message {
  margin: 1rem;
  color: red;
  text-align: right;
}
