header {
  background-color: white;
}
header h1 {
  padding: 2rem;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 2rem;
}
main {
  background-color: var(--light-purple);
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 5rem);
}
.chat-display-cntr {
  padding: 3rem;
  flex-grow: 1;
}
.input-container {
  flex-grow: 0;
  flex-shrink: 0;
}
