header {
  background-color: white;
}
header h1 {
  padding: 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 2rem;
}
main {
  background: linear-gradient(var(--light-purple), #9198e5);
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 5rem);
}
.chat-display-cntr {
  padding: 3rem;
  flex-grow: 1;
}
.input-container {
  flex-grow: 0;
  flex-shrink: 0;
}
.detection-output {
  font-size: 0.8rem;
  color: #4b4747;
}
.detected-language {
  font-weight: 600;
}
